In [ ]:
# This is a single line comment
"""
Python 
multiline
comment
"""
print("Welcome")

Welcome

In [ ]:
a="We\nto my \nb\t ok"

print(a)

We
to my
b	 ok

In [ ]:
x=10

In [ ]:
x

10

In [ ]:
print(x)

10

In [ ]:
x=20

In [ ]:
print(x)

20

In [ ]:
y=30
print(y)

30

In [ ]:
x,y

(20, 30)

In [ ]:
z=x+y
print(z)

50

In [ ]:
print("sum of x and y is ",z)

sum of x and y is  50

In [ ]:
print("sum of ",x ," and ", y, " is ",z)

sum of  20  and  30  is  50

Task 1- Find subtractio of two numbers

In [ ]:
p=100
q=20
r=p-q
print("subtraction of ",p ," and ", q, " is ",r)

subtraction of  100  and  20  is  80

Rules for Python variables:

A variable name can be combination of letters, digits, underscores

A variable name must start with a letter or the underscore character

A variable name cannot start with a number
Variable names are case-sensitive (age, Age and AGE are three different variables)

No white space allowed in valriable names

Keywords cannot be used as variable names

In [ ]:
#Legal variable names:
myage = 30
my_age = 30
_my_age = 30
myAe = 30
MYAGE = 30
myage2 = 30

#Illegal variable names:
2myvar = 30
my-var = 30
my var = 30

Task - 2: Create 2 variable names for valid and invalid category

In [ ]:
#valid variable names
age=33
marks=78

In [ ]:
#invalid variable names
1age=33
science marks=78

SyntaxError: invalid syntax (Temp/ipykernel_9856/772683849.py, line 2)

Keywords

In [ ]:
help("keywords")

In [ ]:
break=22

In [ ]:
break1=22

Data types

In [ ]:
a=11
a

In [ ]:
type(a)

In [ ]:
b=22.5
type(b)

Data types in Python

Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set, frozenset

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

In [ ]:
city="Johannesburg"
print(city)
type(city)

In [ ]:
is_eligible_for_voting=True
print(is_eligible_for_voting)
type(is_eligible_for_voting)

Task 3: Initialise following variables with appropriate values, print their values using ptint functiona and mentione their data type with type function

In [ ]:
number_of_rooms=10
print(number_of_rooms)
type(number_of_rooms)

In [ ]:
temperature=34.5
print(temperature)
type(temperature)

In [ ]:
first_name="Joy"
print(first_name)
type(first_name)

In [ ]:
is_registered=False
print(is_registered)
type(is_registered)

Input function

In [ ]:
p=100
q=20
r=p+q
print("addition of ",p ," and ", q, " is ",r)

In [ ]:
p=input(" Enter the value of p")

In [ ]:
p

'111'

In [ ]:
type(p)

str

In [ ]:
p=int(p)
print(p)
type(p)

111

int

In [ ]:
q=input(" enter the value of q ")
q=int(q)
print(q)
type(q)

 enter the value of q 22
22

int

In [ ]:
z=p+q
print("sum = ",z)

sum =  133

Coffee shop billing application

In [ ]:
# i/p - quantity, unit_price
# calculations - quantity * unit_price
# o/p - bill_amount

In [ ]:
quantity = input("enter the quantity of coffee cups ")
quantity=int(quantity)

enter the quantity of coffee cups 10

In [ ]:
print(quantity)

10

In [ ]:
unit_price = input("enter the unit price of a coffee cup ")
unit_price=float(unit_price)

enter the unit price of a coffee cup 25

In [ ]:
quantity,unit_price

(10, 25.0)

In [ ]:
bill_amount = quantity*unit_price

In [ ]:
print("Bill amount = ",bill_amount)

Bill amount =  255.0

In [ ]:

temp=input("enter temperature value in  celsius")

enter temperature value in  celsius33

In [ ]:
#Task lenth conversion- input Kilometers , output miles
#Task temp. conversion - input celcius, output far.
#Task corruncy conversion- input RAND, output USD/INR
#Task calculate simple intrest- input p,n,r, output simple intrest
#Task area of triangle - input - ht, base, output area of triangle

In [ ]:
km=input("enter the distance in kms ")

In [ ]:
km

In [ ]:
km=float(km)

In [ ]:
miles=0.62*km
miles

In [ ]:
print(miles,"m = ",km," kms")

In [ ]:
#Task corruncy conversion- input RAND, output USD/INR
rand_value=input("Enter amount in rand ")
rand_value=float(rand_value)
usd_value=rand_value/16
print("R",rand_value," is equivalent of ", usd_value," USD")

Enter amount in rand 45454.66
R 45454.66  is equivalent of  2840.91625  USD

In [ ]:
!pip install forex_python

In [ ]:
#Task corruncy conversion- input RAND, output USD/INR
from forex_python.converter import CurrencyRates

c = CurrencyRates()
v = c.get_rate('USD', 'ZAR')
x = c.get_rate('INR','ZAR')
rand_value=float(input("Enter amount in rand: "))
inr_val= round(rand_value/x,2)
usd_value=round(rand_value/v, 2)
print("R",rand_value," is equivalent of ", usd_value," USD at a conversion rate of ",round(v,2))
print("R",rand_value," is equivalent of ", inr_val," INR at a conversion rate of ",round(x,2))

In [ ]:
# task temp convert 
cel_val = float(input("please enter your value for conversion "))
far_val = (cel_val * 1.8) + 32
far_rev = (cel_val -32) / 1.8
print("The temp of ",cel_val,chr(176),"C  is the same as ",far_val,chr(176),"F while ",cel_val,chr(176)," F is the same as ",far_rev,chr(176),"C")

In [ ]:
#Task area of triangle - input - ht, base, output area of triangle
ht,base  = map(float,input("Enter the hieght of the triangle: then spacebar  base of the triangle: ").split())

area = (base * ht)/2
pi = 3.14
area_circ = pi * ht *ht
print ("The area of the triangle is ",area)
print ("the area of a circle with  a radius the same height as the triangle would be",area_circ)

In [ ]:

#Task calculate simple intrest- input p,n,r, output simple intrest
p = float(input("Please enter Primary Balance in whole number: "))
r = float(input("Please input base intrest rate in whole number: "))
t,m = map(float,input("Please input number of years: then space bar months: ").split())
m = m/12
t = t +m
final_r = 25

while (r <= final_r):
  final_amount = (p * r * t)/100
  print ("The final amount is R",final_amount + p,"simple intrest is ",final_amount," at ",r,chr(37),"in ",t,"years",chr(13))
  r+=1

Please enter Primary Balance in whole number: 100
Please input base intrest rate in whole number: 5
Please input number of years: then space bar months: 5 6
The final amount is R 127.5 simple intrest is  27.5  at  5.0 % in  5.5 years
The final amount is R 133.0 simple intrest is  33.0  at  6.0 % in  5.5 years
The final amount is R 138.5 simple intrest is  38.5  at  7.0 % in  5.5 years
The final amount is R 144.0 simple intrest is  44.0  at  8.0 % in  5.5 years
The final amount is R 149.5 simple intrest is  49.5  at  9.0 % in  5.5 years
The final amount is R 155.0 simple intrest is  55.0  at  10.0 % in  5.5 years
The final amount is R 160.5 simple intrest is  60.5  at  11.0 % in  5.5 years
The final amount is R 166.0 simple intrest is  66.0  at  12.0 % in  5.5 years
The final amount is R 171.5 simple intrest is  71.5  at  13.0 % in  5.5 years
The final amount is R 177.0 simple intrest is  77.0  at  14.0 % in  5.5 years
The final amount is R 182.5 simple intrest is  82.5  at  15.0 % in  5.5 years
The final amount is R 188.0 simple intrest is  88.0  at  16.0 % in  5.5 years
The final amount is R 193.5 simple intrest is  93.5  at  17.0 % in  5.5 years
The final amount is R 199.0 simple intrest is  99.0  at  18.0 % in  5.5 years
The final amount is R 204.5 simple intrest is  104.5  at  19.0 % in  5.5 years
The final amount is R 210.0 simple intrest is  110.0  at  20.0 % in  5.5 years
The final amount is R 215.5 simple intrest is  115.5  at  21.0 % in  5.5 years
The final amount is R 221.0 simple intrest is  121.0  at  22.0 % in  5.5 years
The final amount is R 226.5 simple intrest is  126.5  at  23.0 % in  5.5 years
The final amount is R 232.0 simple intrest is  132.0  at  24.0 % in  5.5 years
The final amount is R 237.5 simple intrest is  137.5  at  25.0 % in  5.5 years